.ProductCard>.Container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.949);
    transition: 0.3s;
    width: 80%;
    text-align: center;
    padding: 15px 20px;
    margin: 10px 10px;
    border-radius: 20px;
	
}

.ProductCard>.Container:hover{
    box-shadow: 10px 10px 10px 10px rgba(91,11,95,0.2);
}

.ProductCard{
    font-family: segoe Print;
    display: flex;
    justify-content: center;
    display: inline-block;
    

}

.ProductCard>div{
    text-align: center;
    background-color: gray;
}

.ProductCard>.Container>h2{
    font-weight: bold;
    text-decoration: underline;
    margin-top: -25px;
}